@model ProductViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
</head>
<body>
    <h3>@Model.Category.Name</h3>
    <h3>@Model.Category.Description</h3>

    <hr>
    
 <ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <div>
                <p>@product.Name</p>
                <p>@product.Price</p>
                <p>@product.Description</p>
            </div>
        </li>
    }
 </ul>

<hr>

</body>
</html>